// Couleurs
$color-btn-red: #E20917;
$color-btn-green: #A0C526;
$color-btn-orange: #C94C05;
$color-text-white: #fff;
$color-text-black: #171717;
$color-choose: #D2D0C3;
$color-footer: #464646;
$color-nav-black-transparent: rgba(0, 0, 0, 0.704);

//breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;