@use "variables" as v;
@use "mixins" as m;
@use "reset";
@use "carousel";
@use "formulaireContact";
@use "downArrow";

@font-face {
    font-family: 'gilroy';
    src: url(/fonts/gilroy-extrabold-webfont.woff) format(woff);
    src: url(/fonts/gilroy-extrabold-webfont.woff2) format(woff2);
    font-weight: bolder;
    font-style: bolder;
}

@font-face {
    font-family: '  ';
    src: url(/fonts/glyphicons-halflings-regular.woff) format(woff);
    src: url(/fonts/glyphicons-halflings-regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}



// header "sticky" avec une couleu de fond transparente noire
header {
    background-color: v.$color-nav-black-transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    max-width: 100vw;

    // Logo sous forme de lien "a"
    .logo {
        color: v.$color-text-white;
        text-decoration: none;
        font-size: 4rem;
        padding-left: 17rem;
    }
}

// Liens de naviguations menant vers les différentes sections
nav {
    ul {
        li {
            display: inline-block;
            padding: 0 1.2rem;
            text-transform: uppercase;

            a {
                color: v.$color-text-white;
                text-decoration: none;
                font-size: 2rem;

                // & permet de désigner le parent
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Partie Accueil
#accueil {

    // background video de la section acceuil
    .background-video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
    }

    .text-accueil {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
        color: v.$color-text-white;
        padding-bottom: 25rem;

        h1 {
            font-size: 7rem;
        }

        h2 {
            font-size: 8rem;
        }
    }
}

// Partie Références

.container-references {
    display: flex;
    background-color: v.$color-text-white;

    .titre-references {
        text-align: center;

        p {
            font-size: 1.6rem;
        }

        h2 {
            padding-bottom: 4rem;
            text-transform: uppercase;
            font-family: "gilroy";
            letter-spacing: 1.5rem;
            font-size: 5rem;
        }

        .first-partie {
            display: flex;

            .block {
                display: flex;
                gap: 4rem;
                justify-content: center;
                padding-bottom: 3rem;

                h3 {
                    font-size: 2rem;
                    text-transform: uppercase;
                }


                img {
                    width: 30%;
                }
            }
        }

        .second-partie {
            display: flex;

            .block {
                display: flex;
                gap: 4rem;
                justify-content: center;
                padding: 3rem 0;


                h3 {
                    font-size: 2rem;
                    text-transform: uppercase;
                }

                img {
                    width: 10%;
                }
            }
        }
    }

}

#recettes {
    background-color: white;


    h1 {

        font-family: 'gilroy';
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 6px;
        font-size: x-large;
        padding: 4rem 0 1rem 0;

    }

    .filter {
        padding: 1rem;
        text-align: center;
    }

    .card {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: lighter;
        color: white;
        border-radius: 5px;

        padding: 1rem;
        margin: 0 auto;
        max-width: 30rem;

        h2 {
            margin: 0;
            text-transform: capitalize;
        }

        h2,
        i {
            display: inline-block;
        }

        hr {
            background-color: white;
            height: 1px;
            border: none;
        }

        p {
            margin: 0;
            padding: 1rem 0;
        }

    }

    .original {
        background-color: v.$color-btn-red;
    }

    .mojito {
        background-color: v.$color-btn-green;
    }
}

// Footer

.container-footer {
    background-color: v.$color-footer;
    display: flex;
    justify-content: space-evenly;
    padding: 7rem 10rem;
    flex-wrap: wrap;

    .forms-contact {

        display: flex;
        justify-content: center;

        h3 {
            text-align: left;
            color: v.$color-text-white;
            font-size: 2.5rem;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70vh;
        }

        label {
            color: v.$color-text-white;
        }
    }

    .maps {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: v.$color-text-white;
        font-size: 2.5rem;
    }
}